body {font-family:Comic Sans MS;font-size:30px;
     color:#FFFFFF;background-image:url(images.jpg);background-size:100%;backgroun;
     }

h1 {font-size:80px;}

.titletext {background-color:rgba(150,77,10,0.6);
      margin-left:10%;margin-right:10%;margin-top:10%;text-align:center;}

.text {background-color:rgba(150,77,10,0.6);
      margin-left:5%;margin-right:18%;margin-top:-5%;margin-bottom:8%;text-align:left;}

.caption {background-color:rgba(0,0,0,0.5);
      margin-left:2%;margin-right:18%;margin-top:3%;margin-bottom:8%;text-align:left;}


a:link{color:#FFFFFF;}
a:visited{color:#F0F0F0;}
a:active{color:#F0F0F0;}

img {opacity:1;
     margin-left:50%;
     margin-right:5%;
     margin-top:-5%;
     margin-bottom:1%;
    }